* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.cata-header {
  background-color: #29323c;
}
.container {
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.heading {
  text-align: center;
  font-size: 5rem;
}
span {
  color: rgb(8, 191, 236);
}
.head1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
}

.head2 {
  background-color: rgb(4, 252, 252);
  color: black;
  padding: 2px;
  border: 5px rgb(6, 14, 116) solid;
}
.catalog {
  align-items: center;
  justify-content: center;
}

.main-card {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}
.card {
  margin-left: 20px;
  margin-right: 7px;
  position: relative;
  display: flex;
  box-shadow: 0px 7px 10px rgba(1, 17, 20, 0.5);
  transition: 0.5s ease-in-out;
}

.card:hover {
  transform: translateY(-15px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(8, 243, 243, 0.5),
    rgba(150, 201, 61, 1)
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.card:hover:hover:before {
  opacity: 1;
}
.card img {
  width: 100%;
  object-fit: cover;
  background-color: cornflowerblue;
}
.card .card-body {
  z-index: 3;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
  object-fit: cover;
}
.card:hover .card-body {
  opacity: 1;
  transform: translateY(0px);
}
.card .card-body .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: cornsilk;
  color: black;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.line {
  text-decoration: none;
}
